@import url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css');
:root {
  --red: #C5004A;
  --darkred: #e60000;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #3273DC;
  --white: #fff;
}
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Avenir, Helvetica, Ariel, system-ui, sans-serif;
  color: var(--darkgray);
	background-color: var(--white);
	scroll-behavior: smooth;
}
.my-social{
	transition: all 0.3s;
	color: var(--blue);
	
}
.my-social:hover {
	cursor: pointer;
	transform: scale(1.4);
	color: white;
}
.postlist-date, .my-excerpt {
	background-color: rgba(32, 30, 30, 0.514);
	padding: 2px;
}

.my-a-tag {
	color: #9fb1eb;
	padding: 2px;
	background-color: rgba(1, 6, 63, 0.644);
}
.my-a-tag:hover {
	color: white;
	text-decoration: underline;
}

.tmpl-post {
	padding: 4em 0.5em;
}


/* media queries default */
@media only screen and (min-width: 550px) {
	.tmpl-post {
		padding: 4em 2.5em;
	}
}
@media only screen and (min-width: 650px) {
	.tmpl-post {
		padding: 4em 4.5em;
	}
}
@media only screen and (min-width: 750px) {
	.tmpl-post {
		padding: 4em 6.5em;
	}
}
@media only screen and (min-width: 850px) {
	.tmpl-post {
		padding: 4em 9.5em;
	}
}

main {
  padding: 0;
}
main :first-child {
  margin-top: 0;
  /* margin-bottom: 8px; */
}

main.tmpl-home {
	min-height: 70vh;
}

/* @media only screen and (min-width: 540px) {
	main {
  		padding: 20px;
	}
} */

header {
  border-bottom: 1px dashed var(--lightgray);
}

header:after {
  content: "";
  display: table;
  clear: both;
}


pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0 1rem;
  /* float: left; */
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  /* margin-left: 1em; */
}
.nav-item {
  display: inline-block;
  margin: 0 5px;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* fixing header size bug */
@media only screen and (max-width: 385px) {
	.nav-item {
		margin: 0;
	}
}

@media only screen and (min-width: 538px) {
	.nav-item {
		margin: 0 14px;
	}
}

.left-facing {
	transform: rotateY(180deg);
}


#dotted-hr {
	border-top: 1px var(--darkgray);
	border-style: dotted;
}


/* Simon CSS - - - - - - - - - - - - - - - -  */
#archive {
	margin-bottom: 1.5rem;
}
.my-footer-link:hover {
	color: white;
	text-decoration: underline;
}


/* media query for postslist */
@media screen and (min-width: 720px) {
  .blog-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.blog-list > section {
		width: 49%;
		height: 380px;
		margin: 3px;
	}

}

/* postslist background images  */
section.backgrounds {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/* Day 6 Recap  */
section.bg-1 {
	background-image: url('https://res.cloudinary.com/ryucave/image/upload/v1598522282/Day-3-Jeju/lum-market-3_fe3roe.jpg');
}
/* Day 5 Recap  */
section.bg-2 {
	background-image: url('https://res.cloudinary.com/ryucave/image/upload/v1598754905/Day-5-Jeju/5-crater_gaeot6.jpg');
}
/* Day 4 Recap  */
section.bg-3 {
	background-image: url('https://res.cloudinary.com/ryucave/image/upload/v1598433348/Day-1-Jeju/lum-beach-1_kb2btu.jpg');
}
/* Day 3 Recap  */
section.bg-4 {
	background-image: url('https://res.cloudinary.com/ryucave/image/upload/v1598523594/Day-3-Jeju/lum-waterfall-1_q957xg.jpg');
}
/* Day 2 Recap  */
section.bg-5 {
	background-image: url('https://res.cloudinary.com/ryucave/image/upload/v1598750042/Day-3-Jeju/3-waterfall-3_zu62zj.jpg');
}
/* Day 1 Recap */
section.bg-6 {
	background-image: url('https://res.cloudinary.com/ryucave/image/upload/v1598433348/Day-1-Jeju/lum-beach-1_kb2btu.jpg');
}


.wide-letter-space {
	letter-spacing: 3px;
	text-transform: uppercase;
}
.site-name {
	color: var(--darkred);
	font-size:6vw;
	font-weight: 900;
	font-family: 'Orbitron', sans-serif;
}
#simon-bw {
	border-radius: 50%;
	width: 160px;
	height: auto;
	margin: 45px 0 45px 26px;
}

#intro {
	text-align:center;
	width: 90%;
	margin: 4.5rem auto;
}
#copyright {
	margin: 35px 0;
}
#archive{
	margin: 5rem 0;
} 
.post-title {
	color: var(--darkred);
}

@keyframes ryuleft {
  0%   {left:-300px;}
  100% {left:0px;}
}
@keyframes ryuright {
  0%   {left:-300px;}
  100% {left:0px;}
}
.ryu {
	animation-name: ryuleft;
	animation-duration: 3s;
	position: relative;
}
.ryu-r {
	animation-name: ryuright;
	animation-duration: 3s;
	position: relative;
}

.float-left {
	float: left;
	margin: 5px;
}
.float-right {
	float: right;
	margin: 5px;
}
.clearfix {
  overflow: auto;
}