---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Archive
  order: 2
---
<div class='the-latest-list has-text-centered'>
<h1 id="archive" class='wide-letter-space has-text-centered title is-1'>Archive</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}

<p class='mt-6 has-text-centered'><a href="{{ '/' | url }}"><i class="fas fa-home fa-2x"></i></a></p>

</div>
