---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Archive
  order: 2
---
<h1 class='wide-letter-space has-text-centered title is-1'>Archive</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
