---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap" rel="stylesheet">
<div id="blog-name">
	<span class='site-name wide-letter-space'><span style='font-size:10vw;'>r</span>yu<span style='font-size:10vw;'>c</span>ave.com</span>
</div>


<div id='intro'>
	<h1 class='wide-letter-space'>Hey, I'm Simon.</h1>
	<p>Thanks for visiting my blog.</p>
</div>

<h1 class='wide-letter-space'>Latest Posts</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p id='archive'>More posts <i class="far fa-arrow-alt-circle-right"></i> <a href="{{ '/posts/' | url }}">Archive</a></p>
