---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<div class="has-text-centered">
	<h1 class='tag is-dark is-light'>Tagged “{{ tag }}”</h1>
</div>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<div class="my-6 has-text-centered">
	<a class="button is-link is-light" href="{{ '/tags/' | url }}">see all tags</a>
</div>