<style>
@media screen and (min-width: 710px) {
	.flex-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.flex-container > div {
		margin: 2px;
		width: 280px;
		height: 210px;
	}
}
</style>