<!-- - - -  Footer - - -->
	<section class="pt-6 mt-6 hero is-small is-black">
		<div class="hero-body">
			<div class="container has-text-centered">

				<div class="columns">
					<div class="column">
						<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1117467490&color=%23ff0000&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/user-967623736" title="RYUCAVE.com" target="_blank" style="color: #cccccc; text-decoration: none;">RYUCAVE.com</a> · <a href="https://soundcloud.com/user-967623736/sets/ryucave-com-90s-alternative" title="ryucave.com - 90s alternative mix" target="_blank" style="color: #cccccc; text-decoration: none;">ryucave.com - 90s alternative mix</a></div>
					</div>

					<div class="column">
						<a class="twitter-timeline" data-lang="en" data-height="300" data-theme="dark" href="https://twitter.com/simonhlee97?ref_src=twsrc%5Etfw">Tweets by simonhlee97</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
					</div>
				</div>
				
				<div id='copyright' class='my-6'>
					<hr>
					<p class='is-size-7'><a class="my-footer-link" href="https://simonhlee97.github.io/" target="_blank">Dev Portfolio</a></p>
					<p class='is-size-7'><a class="my-footer-link" href="https://github.com/simonhlee97" target="_blank">GitHub Profile</a></p>
					<p class='is-size-7'>Copyright &copy; 2020 RyuCave.com</p>
					<p class='is-size-7'>Built with <a class="my-footer-link" href="https://11ty.dev/" target="_blank">Eleventy</a> and <a class="my-footer-link" href="https://bulma.io/">Bulma.io</a></p>	
				</div>
			</div>
		</div>
	</section>