<div reversed style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
	{% for post in postslist | reverse %}
		<section style="margin-bottom:9px;" class="bg-{{ loop.index }} hero is-info {% if post.url == url %} {% endif %}">
			<div class="hero-body">
				<div class="container">
					<h1 class="title"><a class="my-a-tag" href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a></h1>
					<p class="subtitle mt-4">{% excerpt post %}</p>
					<h2 class="subtitle"><time class="postlist2-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></h2>
					{% for tag in post.data.tags %}
						{%- if collections.tagList.indexOf(tag) != -1 -%}
							{% set tagUrl %}/tags/{{ tag }}/{% endset %}
								<a href="{{ tagUrl | url }}" class="tag button mx-2 is-link">{{ tag }}</a>
						{%- endif -%}
					{% endfor %}
				</div>
			</div>
		</section>
	{% endfor %}
</div>
