---
title: 6-Day Family Trip, Jeju Island
author: Simon
description: Family vacation in South Korea's little Hawaii.
date: 2020-08-20
tags:
	- ['travel', 'Jeju']
layout: layouts/post.njk
---
{% include "masonrycss.njk" %}

This is my Day 1 recap of our recent 6-day trip to Jeju Island, South Korea.

<nav class="panel">
  <p class="panel-heading">
    Repositories
  </p>
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input" type="text" placeholder="Search">
      <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>
  <p class="panel-tabs">
    <a class="is-active">All</a>
    <a>Public</a>
    <a>Private</a>
    <a>Sources</a>
    <a>Forks</a>
  </p>
  <a class="panel-block is-active">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    bulma
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    marksheet
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    minireset.css
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    jgthms.github.io
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-code-branch" aria-hidden="true"></i>
    </span>
    daniellowtw/infboard
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-code-branch" aria-hidden="true"></i>
    </span>
    mojs
  </a>
  <label class="panel-block">
    <input type="checkbox">
    remember me
  </label>
  <div class="panel-block">
    <button class="button is-link is-outlined is-fullwidth">
      Reset all filters
    </button>
  </div>
</nav>


<div class="has-text-centered">
	<nav class="navbar" role="navigation" aria-label="dropdown navigation">
		<div class="navbar-item has-dropdown is-hoverable">
			<a class="navbar-link">
				Go to
			</a>

			<div class="navbar-dropdown">
				<a class="navbar-item">
					Day 2
				</a>
				<a class="navbar-item">
					Day 3
				</a>
				<a class="navbar-item">
					Day 4
				</a>
				<a class="navbar-item">
					Day 5
				</a>
				<a class="navbar-item">
					Day 6
				</a>
			</div>
		</div>
	</nav>
</div>


My wife and I took the kids to Jeju Island last week. While most Westerners discover Jeju as a beach/casino/resort destination while living in Korea, there are a lot of activities for families and kids. We took a Jeju Airlines flight from Gimpo International Airport and stayed at a modest little hotel on the southwest end of the island.


<h1>Alive Musuem - Illusion Theme Park</h1>

<h1>Jumbo Village - Elephant Show</h1>

<h1>Beach</h1>

<h1>Name - Jeju Pork Restaurant</h1>




<div class="grid">
  <div class="g-item" style="background-image: url('https://images.unsplash.com/photo-1439209306665-700c9bca794c?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=')"></div>
  <div class="g-item" style="background-image: url('https://images.unsplash.com/photo-1466853817435-05b43fe45b39?dpr=1&auto=compress,format&fit=crop&w=1199&h=871&q=80&cs=tinysrgb&crop=')"></div>
  <div class="g-item" style="background-image: url('https://images.unsplash.com/photo-1488572384981-eac03dfeb6b9?dpr=1&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=')"></div>
  <div class="g-item" style="background-image: url('https://images.unsplash.com/photo-1470091688026-38b51162c8df?dpr=1&auto=compress,format&fit=crop&w=1199&h=750&q=80&cs=tinysrgb&crop=')"></div>
  <div class="g-item" style="background-image: url('https://images.unsplash.com/photo-1475139450941-3b6464b2dde3?dpr=1&auto=compress,format&fit=crop&w=1199&h=673&q=80&cs=tinysrgb&crop=')"></div>
</div>