---
title: Day 4 Recap, Family Trip, Jeju Island
date: 2020-08-23
tags: [travel, Jeju, Korea]
layout: layouts/post.njk
---
<!-- Excerpt Start -->
<p class='my-excerpt my-5'>Here's my Day 4 recap of our recent 6-day trip to Jeju Island, South Korea. </p>
<!-- Excerpt End -->
<p class="panel-tabs my-3">
	<a href='/posts/Day-1-Family-Trip-Jeju-Korea'>Day 1</a>
	<a href='/posts/Day-2-Family-Trip-Jeju-Korea'>Day 2</a>
	<a href='/posts/Day-3-Family-Trip-Jeju-Korea'>Day 3</a>
	<a class="is-active">Day 4</a>
	<a href='/posts/Day-5-Family-Trip-Jeju-Korea'>Day 5</a>
	<a href='/posts/Day-6-Family-Trip-Jeju-Korea'>Day 6</a>
</p>

<h1>Pacific Land Marine Stage</h1>
<p>The kids were quite excited to start the day with an animal show, featuring monkeys, sea lions, and dolphins. The trainers and animals were all very impressive. Next to Pacific Land, there's a restaurant that has a large outdoor dining area in the back, where you can get some great views overlooking the ocean and surfers.</p>
<div class="columns">
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598700228/Day-4-Jeju/lum-4-pacific-1_s15xcl.jpg' alt='show' /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598700229/Day-4-Jeju/lum-4-pacific-5_xe9yxl.jpg' alt='show' /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598700229/Day-4-Jeju/lum-4-pacific-6_vsfxvp.jpg' alt='show' /></div>
</div>
<div class="columns">
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598700228/Day-4-Jeju/lum-4-pacific-2_tejllr.jpg' alt='show' /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598700228/Day-4-Jeju/lum-4-pacific-3_vu8vgu.jpg' alt='show' /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598700228/Day-4-Jeju/lum-4-pacific-4_unoanq.jpg' alt='show' /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598751397/Day-4-Jeju/pacificland_wluylx.jpg' / alt='pacific'>
	</div>
</div>
<article class="message is-link my-6">
  <div class="message-header">
    <p>Links</p>
  </div>
  <div class="message-body">
    <ul>
			<li><a href="http://www.pacificland.co.kr/" target="_blank">Pacific Land website</a></li>
			<li><a href="https://goo.gl/maps/rXAVpXnWt1irWsuL6" target="_blank">Pacific Land - Google Maps</a></li>
		</ul>
  </div>
</article>

<hr>
<h1>Lunch at Hanseusi, and the beach</h1>
<p>Wife and kids love sushi and Japanese food, so we went to another Japanese spot for lunch. Very typical menu, with donkatsu (fried pork), some raw-fish bibimbap, and some sashimi. Everything was good, and while I prefer the ramen we had last night, this place was not bad. After lunch, we headed over to the same beach (Geumneung Beach) again to let the kids play.</p>
<div class="columns">
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598751395/Day-4-Jeju/hansushi2_sr1hpj.jpg' alt="han-sushi" /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598700228/Day-4-Jeju/lum-4-beach_sqtv85.jpg' alt="beach" /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598751394/Day-4-Jeju/han-lunch_qk0rio.jpg' alt="han-sushi" /></div>
</div>
<div class="columns">
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598751394/Day-4-Jeju/hansushi_ir8hie.jpg' alt="han-sushi" /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598700228/Day-4-Jeju/lum-4-han-sushi_itzizr.jpg' alt="han-sushi" /></div>
</div>
<article class="message is-link my-6">
  <div class="message-header">
    <p>Links</p>
  </div>
  <div class="message-body">
    <ul>
			<li><a href="https://goo.gl/maps/FMWb7PkVfCV1QSK89" target="_blank">Hanseusi - Google Maps</a></li>
		</ul>
  </div>
</article>