---
title: Day 3 Recap, Family Trip, Jeju Island
date: 2020-08-22
tags: [travel, Jeju, Korea]
layout: layouts/post.njk
---
<!-- Excerpt Start -->
<p class='my-excerpt my-5'>The highlights from Day 3: We went to a popular waterfall, a street market, and an art district.</p>
<!-- Excerpt End -->
<p class="panel-tabs my-3">
	<a href='/posts/Day-1-Family-Trip-Jeju-Korea'>Day 1</a>
	<a href='/posts/Day-2-Family-Trip-Jeju-Korea'>Day 2</a>
	<a class="is-active">Day 3</a>
	<a href='/posts/Day-4-Family-Trip-Jeju-Korea'>Day 4</a>
	<a href='/posts/Day-5-Family-Trip-Jeju-Korea'>Day 5</a>
	<a href='/posts/Day-6-Family-Trip-Jeju-Korea'>Day 6</a>
</p>

<h1>Cheonjiyeon Falls</h1>
<p>We started the day by taking a scenic drive to Cheonjiyeon Falls (easily confused with Cheonjeyeon Falls because the names are spelled almost exactly the same). Very popular with lots of tourist buses, it is located in the southwest corner of Seogwipo. It's a short walk to the waterfall, and you will have to wait in line to take photos in front of the waterfall. For my kids, the main attraction were the ducks and fish.</p>

<div class="columns">
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598523595/Day-3-Jeju/lum-waterfall-3_bqib29.jpg' /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598523594/Day-3-Jeju/lum-waterfall-1_q957xg.jpg' /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598750042/Day-3-Jeju/3-waterfall-3_zu62zj.jpg' alt='waterfalls' /></div>
</div>
<div class="columns">
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598750041/Day-3-Jeju/3-waterfall-1_iqz0od.jpg' alt='waterfalls' /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598750040/Day-3-Jeju/3-waterfall-2_bsvj0c.jpg' alt='waterfalls' /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598585841/Day-3-Jeju/waterfalls_k9d37x.jpg' /></div>
</div>
<article class="message is-link my-6">
  <div class="message-header">
    <p>Links</p>
  </div>
  <div class="message-body">
    <ul>
			<li><a href="https://goo.gl/maps/df3tZ2nWezKUgbMz9" target="_blank">Cheonjiyeon Falls - Seogwipo, Jeju (Google Maps)</a></li>
		</ul>
  </div>
</article>

<hr>
<h1>Lee Jung Seop Arts District, Seogwipo</h1>
<p>After the waterfalls, we drove through Seogwipo, one of the largest cities on the island. There are parts of this city which are very new, urban, and modern, with heavy traffic, street food, Gangnam-style shopping, and high-rise apartments. For our first stop, we explored the tiny hidden treasure that's tucked inside the hilly streets of Seogwipo - a special art-district-street dedicated to Korean artist, Lee Jeong-Sup. Apparently, his tragic life story has made him quite the legend on the island, which includes a museum, shops, and restaurants named after him. Outside Lee's house, there's a storyteller-ahjumma that does an amazing job narrating his life story, but no English interpreter available. You have to park at least a couple blocks away, but it is definitely worth checking out.</p>
<div class="columns">
	<div class='column'><img src='https://res.cloudinary.com/ryucave/image/upload/v1598580932/Day-3-Jeju/lum-artstreet-11_gfnud0.jpg' /></div>
	<div class='column'><img src='https://res.cloudinary.com/ryucave/image/upload/v1598523593/Day-3-Jeju/lum-artstreet-5_ixupfw.jpg' /></div>
	<div class='column'><img src='https://res.cloudinary.com/ryucave/image/upload/v1598523593/Day-3-Jeju/lum-artstreet-8_xs3tf5.jpg' /></div>
</div>
<div class="columns">
	<div class='column'><img src='https://res.cloudinary.com/ryucave/image/upload/v1598580932/Day-3-Jeju/lum-artstreet-10_sh4qwb.jpg' /></div>
	<div class='column'><img src='https://res.cloudinary.com/ryucave/image/upload/v1598523593/Day-3-Jeju/lum-artstreet-9_xekxdo.jpg' /></div>
	<div class='column'><img src='https://res.cloudinary.com/ryucave/image/upload/v1598523593/Day-3-Jeju/lum-artstreet-6_kk7p8e.jpg' /></div>
</div>
<div class="columns">
	<div class='column'><img src='https://res.cloudinary.com/ryucave/image/upload/v1598523593/Day-3-Jeju/lum-artstreet-3_jk9hg3.jpg' /></div>
	<div class='column'><img src='https://res.cloudinary.com/ryucave/image/upload/v1598523595/Day-3-Jeju/lum-artstreet-2_aci23b.jpg' /></div>
	<div class='column'><img src='https://res.cloudinary.com/ryucave/image/upload/v1598523593/Day-3-Jeju/lum-artstreet-4_ewot8f.jpg' /></div>
</div>
<div class="columns">
	<div class='column'><img src='https://res.cloudinary.com/ryucave/image/upload/v1598523593/Day-3-Jeju/lum-artstreet-7_ftwy3x.jpg' /></div>
	<div class='column'><img src='https://res.cloudinary.com/ryucave/image/upload/v1598523594/Day-3-Jeju/lum-artstreet-1_qauzpq.jpg' /></div>
	<div class='column'><img src='https://res.cloudinary.com/ryucave/image/upload/v1598750040/Day-3-Jeju/3-leejungseop_jvwkvt.jpg' /></div>
	<div class='column'><img src='https://res.cloudinary.com/ryucave/image/upload/v1598580932/Day-3-Jeju/lum-artstreet-12_f8pqrs.jpg' /></div>
</div>

<article class="message is-link my-6">
  <div class="message-header">
    <p>Links</p>
  </div>
  <div class="message-body">
    <ul>
			<li><a href="https://goo.gl/maps/12wLce2t94MYFxYQ7" target="_blank">Lee Jung Seop Street (Google Maps)</a></li>
			<li><a href="https://goo.gl/maps/RAVW5F2tbxPvgvea8" target="_blank">Lee Jung Seop Art Gallery (Google Maps)</a></li>
		</ul>
  </div>
</article>

<hr>
<h1>Seogwipo Maeil Olle Market</h1>
<p>For our next stop and lunch, we went to a street market that is packed with what you would expect, but I did notice an oversupply (yet high prices) of oranges, apple-mangoes, and fresh-squeezed juice (which is quite delicious on a hot summer day). The fried black-pig-pork is very popular and very delicious. And the lady draws a happy pig face with the bbq sauce.</p>
<div class="columns">
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598522282/Day-3-Jeju/lum-market-2_poh0uy.jpg' /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598522282/Day-3-Jeju/lum-market-4_om6oqf.jpg' /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598522282/Day-3-Jeju/lum-market-5_a8nmyu.jpg' /></div>
</div>
<div class="columns">
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598585836/Day-3-Jeju/market-fried-pork_tys66h.jpg' /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598585836/Day-3-Jeju/market-oranges_f2jzhr.jpg' /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598522282/Day-3-Jeju/lum-market-1_qoesp2.jpg' /></div>
</div>
<article class="message is-link my-6">
  <div class="message-header">
    <p>Links</p>
  </div>
  <div class="message-body">
    <ul>
			<li><a href="https://goo.gl/maps/cJeajo9xz5U3v9zRA" target="_blank">Seogwipo Maeil Olle Market (Google Maps)</a></li>
		</ul>
  </div>
</article>

<hr>
<h1>Dinner: Do-Reu-Do-Reu Izakaya & Ramen</h1>
<p>After another day at the beach, we got back to our hotel area late and didn't have a lot of options for dinner. After 8pm, most of the island is shut down and quiet, so it's hard to find late night restaurants (outside of fried chicken or pizza delivery). But we did find a Japanese ramen place open and the ramen was so delicious. Despite all the political animosity toward Japan, Koreans still love their Japanese food.</p>
<div class="columns">
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598586130/Day-3-Jeju/ramen_rfw3lt.jpg' /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598586128/Day-3-Jeju/ramen-sign_g5nrpm.jpg' /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598586130/Day-3-Jeju/ramen-place_sxzwbp.jpg' /></div>
</div>
<article class="message is-link my-6">
  <div class="message-header">
    <p>Links</p>
  </div>
  <div class="message-body">
    <ul>
			<li><a href="https://goo.gl/maps/EjWd4FFKfHvcU5tW8" target="_blank">Japanese Ramen Restaurant - Google Maps</a></li>
		</ul>
  </div>
</article>