---
title: Day 3 Recap, Family Trip, Jeju Island
date: 2020-08-22
tags: [travel, Jeju, Korea]
layout: layouts/post.njk
---
{% include "masonrycss.njk" %}
<!-- Excerpt Start -->
Here's my Day 3 recap of our recent 6-day trip to Jeju Island, South Korea.
<!-- Excerpt End -->
<p class="panel-tabs my-3">
	<a href='/posts/Day-1-Family-Trip-Jeju-Korea'>Day 1</a>
	<a href='/posts/Day-2-Family-Trip-Jeju-Korea'>Day 2</a>
	<a class="is-active">Day 3</a>
	<a href='/posts/Day-4-Family-Trip-Jeju-Korea'>Day 4</a>
	<a href='/posts/Day-5-Family-Trip-Jeju-Korea'>Day 5</a>
	<a href='/posts/Day-6-Family-Trip-Jeju-Korea'>Day 6</a>
</p>

<h1>Cheon-jin-something Waterfall</h1>

<p>We started the day by taking a scenic drive to Cheon-Jin Waterfall. Very popular with lots of tourist buses. It's a short walk to the waterfall, and you will have to wait in line to take photos in front of the waterfall. For my kids, the main attraction was the ducks and fish.</p>

<h1>Seogwipo - Lee-Jeong-Sup Street</h1>
<p>We then drove over to Seogwipo, one of the largest cities on the island. There are parts of this city which are Seoul-like, with heavy traffic, street food and markets, Gangnam-style shopping, and high-rise apartments. Seogwipo has a really cool little art district, and an entire uphill street dedicated to a Korean artist, Lee Jeong-Sup.</p>

<h1>Seogwipo - Street Market</h1>
<p>Halla-bong is the local native orange. Very delicious and sweet. You can find Halla-bong-orange juice stands everywhere on the island. It is a bit pricey, but on a hot summer day, pretty refreshing to drink. The markets in Jeju also sell this deep-fried Jeju pork, which Koreans love.</p>

<h1>Do-Reu-Do-Reu Izakaya & Ramen</h1>
<p>After another day at the beach, we got back to our hotel area late and didn't have a lot of options for dinner. After 8pm, most of the island is shut down and quiet, so it's hard to find late night restaurants (outside of fried chicken or pizza delivery). But we did find a Japanese ramen place open and the ramen was so delicious. Despite all the political animosity toward Japan, Koreans still love their Japanese food.</p>