---
title: Day 5 Recap, Family Trip, Jeju Island
date: 2020-08-24
tags: [travel, Jeju]
layout: layouts/post.njk
---
{% include "masonrycss.njk" %}
<!-- Excerpt Start -->
<p class='my-excerpt my-5'>Here's my Day 5 recap of our recent 6-day trip to Jeju Island, South Korea. We drove from west to east across Jeju Island.</p>
<!-- Excerpt End -->
<p class="panel-tabs my-3">
	<a href='/posts/Day-1-Family-Trip-Jeju-Korea'>Day 1</a>
	<a href='/posts/Day-2-Family-Trip-Jeju-Korea'>Day 2</a>
	<a href='/posts/Day-3-Family-Trip-Jeju-Korea'>Day 3</a>
	<a href='/posts/Day-4-Family-Trip-Jeju-Korea'>Day 4</a>
	<a class="is-active">Day 5</a>
	<a href='/posts/Day-6-Family-Trip-Jeju-Korea'>Day 6</a>
</p>

<h1>Lunch: Sorang Bapsang</h1>
<p>We drove around the island, and headed east towards the dinosaur theme park. We randomly ended up at Sorang Bapsang for lunch, and had some delicious shrimp stew. The restaurant is old-school (no chairs), which is, as mentioned earlier, really painful for me. But good food alleviates the pain. The lady that runs the place is super nice. And her restaurant has plenty of old-school Korean charm.</p>
<div class="columns">
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598754910/Day-5-Jeju/5-sorang-2_xyywai.jpg' /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598754909/Day-5-Jeju/5-sorang-1_hpyklo.jpg' /></div>
	<div class="column"><img src='' /></div>
</div>
<div class="columns">
	<div class="column"><img src='' /></div>
	<div class="column"><img src='' /></div>
	<div class="column"><img src='' /></div>
</div>
<article class="message is-link my-6">
  <div class="message-header">
    <p>Links</p>
  </div>
  <div class="message-body">
    <ul>
			<li><a href="https://goo.gl/maps/gespDh8tJBNeKL6w7" target="_blank"> - Google Maps</a></li>
		</ul>
  </div>
</article>

<hr>
<h1>Debari Park - Dinosaur Theme Park</h1>
<p>We then drove over to Seogwipo, one of the largest cities on the island. There are parts of this city which are Seoul-like, with heavy traffic, street food and markets, Gangnam-style shopping, and high-rise apartments. Seogwipo has a really cool little art district, and an entire uphill street dedicated to a Korean artist, Lee Jeong-Sup.</p>
<div class="columns">
	<div class="column"><img src='' /></div>
	<div class="column"><img src='' /></div>
	<div class="column"><img src='' /></div>
</div>
<div class="columns">
	<div class="column"><img src='' /></div>
	<div class="column"><img src='' /></div>
	<div class="column"><img src='' /></div>
</div>
<article class="message is-link my-6">
  <div class="message-header">
    <p>Links</p>
  </div>
  <div class="message-body">
    <ul>
			<li><a href="https://goo.gl/maps/gespDh8tJBNeKL6w7" target="_blank"> - Google Maps</a></li>
		</ul>
  </div>
</article>

<hr>
<h1>Dinner: Fresh fish stew</h1>
<p>For dinner, we met up with one of my old friends who now lives in Jeju. He picked a seafood place on the eastern coast of the island. The owner-couple are, like most Jeju folks, just genuinely kind and warm-hearted. And their little Jindo dog is also as calm and laid-back as the owners. The kids really enjoyed playing with little Jindo (not his actual name).</p>
<p>We had quite a feast. We started with some beef on the grill with lettuce and sesame leaves. Then we had some raw fish and a big pot of fish stew. The fish was actually caught by my friend. The way they cooked the fish stew resulted in the most tender fish I've ever had. Really delicious.</p>
<div class="columns">
	<div class="column"><img src='' /></div>
	<div class="column"><img src='' /></div>
	<div class="column"><img src='' /></div>
</div>
<div class="columns">
	<div class="column"><img src='' /></div>
	<div class="column"><img src='' /></div>
	<div class="column"><img src='' /></div>
</div>
<article class="message is-link my-6">
  <div class="message-header">
    <p>Links</p>
  </div>
  <div class="message-body">
    <ul>
			<li><a href="https://goo.gl/maps/gespDh8tJBNeKL6w7" target="_blank">Fish restaurant - Google Maps</a></li>
		</ul>
  </div>
</article>