---
title: Day 4 Recap, Family Trip, Jeju Island
date: 2020-08-23
tags: [travel, Jeju, Korea]
layout: layouts/post.njk
---
<!-- Excerpt Start -->
<p class='my-excerpt my-5'>Here's my Day 4 recap of our recent 6-day trip to Jeju Island, South Korea. </p>
<!-- Excerpt End -->
<p class="panel-tabs my-3">
	<a href='/posts/Day-1-Family-Trip-Jeju-Korea'>Day 1</a>
	<a href='/posts/Day-2-Family-Trip-Jeju-Korea'>Day 2</a>
	<a href='/posts/Day-3-Family-Trip-Jeju-Korea'>Day 3</a>
	<a class="is-active">Day 4</a>
	<a href='/posts/Day-5-Family-Trip-Jeju-Korea'>Day 5</a>
	<a href='/posts/Day-6-Family-Trip-Jeju-Korea'>Day 6</a>
</p>
				
<h1>Place No 1</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo in error facilis molestiae! Accusamus, non. Sint, magni. Vero praesentium, alias consequatur aliquid possimus expedita, voluptates officiis corporis dolores asperiores accusantium!amilies.  is Pacific Land then drove over to Seogwipo, one of the largest cities on the island. There are parts of this city which are Seoul-like, with heavy traffic, street food and markets, Gangnam-style shopping, and high-rise apartments. Seogwipo has a really cool little art district, and an entire uphill street dedicated to a Korean artist, Lee Jeong-Sup.</p>
<div class="flex-container">
	<div><img src='' /></div>
	<div><img src='' /></div>
	<div><img src='' /></div>
</div>
<article class="message is-link my-6">
  <div class="message-header">
    <p>Links</p>
  </div>
  <div class="message-body">
    <ul>
			<li><a href='http://www.teddybearmuseum.com/site/' target="_blank">The Planet</a></li>
			<li><a href="https://goo.gl/maps/gespDh8tJBNeKL6w7" target="_blank">Google Maps</a></li>
		</ul>
  </div>
</article>

<hr>
<h1>Place No 2</h1>
<p>then drove over to Seogwipo, one of the largest cities on the island. There are parts of this city which are Seoul-like, with heavy traffic, street food and markets, Gangnam-style shopping, and high-rise apartments. Seogwipo has a really cool little art district, and an entire uphill street dedicated to a Korean artist, Lee Jeong-Sup.</p>
<h1>Lunch: Han Sushi</h1>
<p>My wife and kids love sushi and Japanese food, so our lunch spot was another Japanese spot. Very typical menu, with donkatsu (fried pork), some raw-fish bibimbap, and some sashimi. Everything was good, and while I prefer the ramen we had last night, this place was not bad. After lunch, we headed to Big Beach again to let the kids play.</p>
<div class="flex-container">
	<div><img src='' /></div>
	<div><img src='' /></div>
	<div><img src='' /></div>
</div>
<article class="message is-link my-6">
  <div class="message-header">
    <p>Links</p>
  </div>
  <div class="message-body">
    <ul>
			<li><a href="https://goo.gl/maps/gespDh8tJBNeKL6w7" target="_blank">Lee Sup Street - Google Maps</a></li>
		</ul>
  </div>
</article>