---
title: Day 2 Recap, Family Trip, Jeju Island
date: 2020-08-21
tags:
	- travel
layout: layouts/post.njk
---
{% include "masonrycss.njk" %}
<!-- Excerpt Start -->
Here's my Day 2 recap of our recent 6-day trip to Jeju Island, South Korea.
<!-- Excerpt End -->