---
title: Day 5 Recap, Family Trip, Jeju Island
date: 2020-08-24
tags: [travel, Jeju, Korea]
layout: layouts/post.njk
---
{% include "masonrycss.njk" %}
<!-- Excerpt Start -->
<p class='my-excerpt my-5'>Here's my Day 5 recap of our recent 6-day trip to Jeju Island, South Korea. We drove from west to east across Jeju Island.</p>
<!-- Excerpt End -->
<p class="panel-tabs my-3">
	<a href='/posts/Day-1-Family-Trip-Jeju-Korea'>Day 1</a>
	<a href='/posts/Day-2-Family-Trip-Jeju-Korea'>Day 2</a>
	<a href='/posts/Day-3-Family-Trip-Jeju-Korea'>Day 3</a>
	<a href='/posts/Day-4-Family-Trip-Jeju-Korea'>Day 4</a>
	<a class="is-active">Day 5</a>
	<a href='/posts/Day-6-Family-Trip-Jeju-Korea'>Day 6</a>
</p>

<h1>Lunch: Sorang Bapsang</h1>
<p>We drove around the island, and headed east towards the dinosaur theme park. We randomly ended up at Sorang Bapsang for lunch, and had some delicious shrimp stew. The restaurant is old-school (no chairs), which is, as mentioned earlier, really painful for me. But good food alleviates the pain. The lady that runs the place is super nice. And her restaurant has plenty of old-school Korean charm.</p>
<div class="columns">
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598754910/Day-5-Jeju/5-sorang-2_xyywai.jpg' /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598754909/Day-5-Jeju/5-sorang-1_hpyklo.jpg' /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598756013/Day-5-Jeju/5-sorang-bap-1_zzt1gw.jpg' /></div>
</div>
<div class="columns">
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598756014/Day-5-Jeju/5-sorang-bap-3_lfilhs.jpg' /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598756016/Day-5-Jeju/5-sorang-bap-4_rtmsa6.jpg' /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598756013/Day-5-Jeju/5-sorang-bap-2_yvnbje.jpg' /></div>
</div>
<article class="message is-link my-6">
  <div class="message-header">
    <p>Links</p>
  </div>
  <div class="message-body">
    <ul>
			<li><a href="https://g.page/sorangbapsang?share" target="_blank">Sorang Bapsang - Google Maps</a></li>
		</ul>
  </div>
</article>

<hr>
<h1>Debari Park - Dinosaur Theme Park</h1>
<p>We promised the kids that we would take them to a dino-theme park. They were screaming about this place for 5 days, and finally, we made it. It's not Jurassic Park, but it does have plenty of things to do. There are a few dinosaur exhibits, then a small zoo, where you can see a couple turtles, feed some meerkats and guinea pigs (if you purchase a cup of carrots). The Northern black tegu, which looks 1/2 iguana and 1/2 komodo dragon, was my favorite animal. Then the kids go upstairs, where they can do some physical activities like going down a giant slide, bowling. Then it's outside to the dino-theme park, which includes a climbing wall, putt-putt, playland, and plenty more. There are actually 2 theme parks, and next to Debari Park is <a href="http://cocomongjeju.com/main.html" target="_blank">Cocomong Eco Park</a>.</p>
<div class="columns">
	<div class="column"><img src="https://res.cloudinary.com/ryucave/image/upload/v1598762284/Day-5-Jeju/5-debari-land_wws36i.jpg" /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598762285/Day-5-Jeju/5-debari-wall_cdbwul.jpg' alt='climbing'/></div>
</div>

<div class="columns">
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598754906/Day-5-Jeju/5-debari-ent_k9klho.jpg' /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598586199/Day-5-Jeju/debari-tegu_vcj0jl.jpg' /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598586197/Day-5-Jeju/debari-turtle_peutrr.jpg' /></div>
</div>
<div class="columns">
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598586197/Day-5-Jeju/debari-guinea_jivwln.jpg' /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598586197/Day-5-Jeju/debari-feed_dalmpb.jpg' /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598754906/Day-5-Jeju/5-debaripark_uiluwl.jpg' /></div>
</div>
<article class="message is-link my-6">
  <div class="message-header">
    <p>Links</p>
  </div>
  <div class="message-body">
    <ul>
			<li><a href="http://debaripark.com/main.php" target="_blank">Debari Park - official website</a></li>
			<li><a href="https://goo.gl/maps/hBQMp8oKZ3PKLUfU6" target="_blank" />Debari Dino Theme Park - Google Maps</a></li>
		</ul>
  </div>
</article>

<hr>
<h1>Quick stop and then dinner</h1>
<p>Unlike last summer, we didn't have time to hike up Seongsan Ilchulbong (a UNESCO World Heritage site), but we did make a quick stop for some photos. If you go there just before sunset, you can get some Instagram-worthy shots.</p>
<img src="https://res.cloudinary.com/ryucave/image/upload/v1598754905/Day-5-Jeju/5-crater_gaeot6.jpg" alt='crater' />
<p>For dinner, we met up with one of my old friends who now lives in Jeju. He picked a seafood place on the eastern coast of the island. The owner-couple are, like most Jeju folks, just genuinely kind and warm-hearted. And their little Jindo dog is also as calm and laid-back his the owners. The kids really enjoyed playing with little Jindo (not his actual name).</p>
<p>We had quite a feast. We started with some beef on the grill with lettuce and sesame leaves. Then we had some raw fish and a big pot of fish stew. The fish was actually caught by my friend. The way they cooked the fish stew resulted in the most tender fish I've ever had. Really delicious.</p>

<div class="columns">
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598754906/Day-5-Jeju/5-dinner-3_ybzjyz.jpg' /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598754907/Day-5-Jeju/5-dinner-4_c0tena.jpg' /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598762285/Day-5-Jeju/5-fish-dinner_upixlz.jpg' alt="dinner" /></div>
</div>
<div class="columns">
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598754907/Day-5-Jeju/5-dinner-1_xeopo3.jpg' /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598754907/Day-5-Jeju/5-dinner-2_bbib0y.jpg' /></div>
	<div class="column"><img src='https://res.cloudinary.com/ryucave/image/upload/v1598762285/Day-5-Jeju/5-jindo_bdgrqb.jpg' alt="dog" /></div>
</div>
<article class="message is-link my-6">
  <div class="message-header">
    <p>Links</p>
  </div>
  <div class="message-body">
    <ul>
			<li><a href="https://goo.gl/maps/oT7XGtGH4QaB1Uxj9" target="_blank">Hwa-Jeon-Min-Chon Restaurant - Google Maps</a></li>
		</ul>
  </div>
</article>