---
title: Day 4 Recap, Family Trip, Jeju Island
date: 2020-08-23
tags:
	- travel
layout: layouts/post.njk
---
{% include "masonrycss.njk" %}
<!-- Excerpt Start -->
Here's my Day 4 recap of our recent 6-day trip to Jeju Island, South Korea.
<!-- Excerpt End -->
<p class="panel-tabs my-3">
	<a href='/posts/Day-1-Family-Trip-Jeju-Korea'>Day 1</a>
	<a href='/posts/Day-2-Family-Trip-Jeju-Korea'>Day 2</a>
	<a href='/posts/Day-3-Family-Trip-Jeju-Korea'>Day 3</a>
	<a class="is-active">Day 4</a>
	<a href='/posts/Day-5-Family-Trip-Jeju-Korea'>Day 5</a>
	<a href='/posts/Day-6-Family-Trip-Jeju-Korea'>Day 6</a>
</p>