---
title: Testing if I can post with NJK
description: How can I style just masonry.
date: 2020-07-21
tags:
  - korean food
layout: layouts/post.njk
---
There are hundreds, if not thousands, of Koreanized Chinese restaurants in Korea. Koreans love jja-jang-myun (noodles with black bean sauce) and jjam-bbong (spicy seafood soup) as much as Americans love burgers and hotdogs.

<style>
.loremimg {
	height: 320px;
	background-image:url('https://picsum.photos/600/400');
}
</style>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-8 is-parent">
    <div class="loremimg tile is-child box">
      BOX 3
    </div>
    <div class="loremimg tile is-child box">
      BOX 4
    </div>
  </div>
  <div class="tile is-parent is-4">
		<div class="loremimg tile is-child box">
      BOX 5
    </div>
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-4 is-parent">
    <div class="loremimg tile is-child box">
      BOX 3
    </div>
    <div class="loremimg tile is-child box">
      BOX 4
    </div>
  </div>
  <div class="tile is-parent is-8">
		<div class="loremimg tile is-child box">
      BOX 5
    </div>
  </div>
</div>






There are hundreds, if not thousands, of Koreanized Chinese restaurants in Korea. Koreans love jja-jang-myun (noodles with black bean sauce) and jjam-bbong (spicy seafood soup) as much as Americans love burgers and hotdogs. There are hundreds, if not thousands, of Koreanized Chinese restaurants in Korea. Koreans love jja-jang-myun (noodles with black bean sauce) and jjam-bbong (spicy seafood soup) as much as Americans love burgers and hotdogs.