---
title: Testing if I can post with NJK
description: How can I style just masonry.
date: 2020-07-21
tags:
  - korean food
layout: layouts/post.njk
---
There are hundreds, if not thousands, of Koreanized Chinese restaurants in Korea. Koreans love jja-jang-myun (noodles with black bean sauce) and jjam-bbong (spicy seafood soup) as much as Americans love burgers and hotdogs.

{% include "masonrycss.njk" %}

<div class="grid">
  <div class="g-item" style="background-image: url(https://images.unsplash.com/photo-1439209306665-700c9bca794c?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=)"></div>
  
  <div class="g-item" style="background-image: url(https://images.unsplash.com/photo-1466853817435-05b43fe45b39?dpr=1&auto=compress,format&fit=crop&w=1199&h=871&q=80&cs=tinysrgb&crop=)"></div>
  
  <div class="g-item" style="background-image: url(https://images.unsplash.com/photo-1488572384981-eac03dfeb6b9?dpr=1&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=)"></div>
  
  <div class="g-item" style="background-image: url(https://images.unsplash.com/photo-1470091688026-38b51162c8df?dpr=1&auto=compress,format&fit=crop&w=1199&h=750&q=80&cs=tinysrgb&crop=)"></div>
  
  <div class="g-item" style="background-image: url(https://images.unsplash.com/photo-1475139450941-3b6464b2dde3?dpr=1&auto=compress,format&fit=crop&w=1199&h=673&q=80&cs=tinysrgb&crop=)"></div>
</div>



There are hundreds, if not thousands, of Koreanized Chinese restaurants in Korea. Koreans love jja-jang-myun (noodles with black bean sauce) and jjam-bbong (spicy seafood soup) as much as Americans love burgers and hotdogs. There are hundreds, if not thousands, of Koreanized Chinese restaurants in Korea. Koreans love jja-jang-myun (noodles with black bean sauce) and jjam-bbong (spicy seafood soup) as much as Americans love burgers and hotdogs.