---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class='content'>
	<h1 class='title has-text-danger-dark has-text-centered'>{{ title }}</h1>

	<p class='my-4 has-text-centered'>{{ date | readableDate }}</p>

	{{ content | safe }}

	<p class='has-text-centered'><a href="{{ '/' | url }}"><i class="far fa-arrow-alt-circle-left fa-2x"></i> Home</a></p>
</div>