---
layout: layouts/base.njk
templateClass: tmpl-post
---
<style>
hr.style1{
	border-top: 1px solid;
}
hr.style2 {
	border-top: 3px double;
}
</style>
<div class='content'>
	<hr class="style2 has-text-danger-dark">
	<h1 class='title has-text-danger-dark has-text-centered'>{{ title }}</h1>
	<hr  class="style1 has-text-danger-dark">

	<p class='my-4 has-text-centered'>{{ date | readableDate }}</p>

	{{ content | safe }}

	<p class='has-text-centered my-6'>
		<a href="{{ '/' | url }}"><i class="fas fa-home fa-2x"></i></a>
	</p>

	<article class="message is-danger">
		<div class="message-body">
			<p>Thanks for reading my blog. My name is Simon, a web developer from the US, currently living in South Korea. I grew up playing Street Fighter II and watching Saved by the Bell. Connect with me at <a href="https://twitter.com/simonhlee97" target="_blank"> <i class="fab fa-twitter"></i> @simonhlee97</a> or drop me an email: simonhlee97@hotmail.com.</p>
		</div>
		
	</article>
</div>
